body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.progress-bar-container {
    display: block;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    padding: 10px 0;
    background-color: #343a40;
    color: #fff;
}

label {
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}

span {
    font-weight: bold;
}

.btn-primary, .btn-secondary {
    width: 100%;
    margin-bottom: 10px;
}